.app {
  display: grid;
  justify-content: space-around;
  justify-items: start;
  margin-top: 200px;
  .title {
    font-size: x-large;
    border-bottom-color: chocolate;
    border-bottom-style: solid;
  }
  .login {
    margin-top: 10px;
    button {
      margin: 20px;
      margin-left: 100px;
    }
  }
  .onSuccess {
    font-size: larger;
  }
  .input-container {
    label {
      padding: 10px;
    }
    font-weight: bold;
  }
}
